<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Hair Salon</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>IGIT HAIR SALON</h1>
				</div>
				<div class="row">
					<h1>Stylist Info</h1>

					<h3>Name: @Model.GetId() - @Model.GetName()</h3>
					<hr>
					<h2>Here are all the clients for this stylist:</h2>

					@if (@Model["clients"].Count == 0)
					{
					  <p>No clients have been added yet!</p>
					}
					else
					{
					  <ol>
					    @foreach (var client in @Model["clients"])
					    {
					      <li>@client.GetName()</li>
					    }
					  </ol>
					}

					<p><a href="/">Return to Main Page</a></p>
					<div class="footer-links">
				    <h4><a href="/stylist/update/@Model.GetId()">Update this stylist's information.</a></h4>
				    <h4><a href="/stylist/@Model.GetId()/new_client">Add a client for this stylist.</a></h4>
				    <h4><a href="/clients">View all clients.</a></h4>
				    <h4><a href="/">Return to Main Page.</a></h4>
				    <h4 id="warning"><a href="/stylist/delete/@Model.GetId()">Delete this stylist and all of their clients.</a></h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
